.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

#roll {
	position: fixed;
	top: 50%;
	left: 0;
	outline: 0;
	color: #4ECCA3;
	font-size: 30px;
	border: 3px solid #4ECCA3;
	border-radius: 8px;
	padding: 12px;
	transition: color 0.2s ease-in-out,
				background-color 0.5s ease-in-out;
}

#roll:hover {
	color: #fff;
	background-color: #4ECCA3;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
